body {
    padding: 0;
    margin: auto;
    width: 800px;
 }
 
 h1, h2 {
    margin-top: 12px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 28px;
    color: #006600;
    font-family: "Comic Sans MS", Verdana, Arial, sans-serif;
    text-shadow: 2px 2px 4px yellow;
 }
  
h2 {
    font-size:24px;
}

p {
    font: 15px/16px sans-serif;
    margin-bottom: 8px;
}

 
 form {
    background-color: #CCFFCC;
    width: 500px;
    height: 540px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border: 8px outset #009900;
    border-radius: 16px;
    box-shadow: 10px 10px #AAAAAA;
 }
 

 }
 
 fieldset {
   float: right;
   border: 6px outset #009900;
 }
 
fieldset #txaLabel {
     text-align: left;
 }

fieldset p input {
       background-color: #EEFFEE;
      text-align: left;
 }
 
 legend {
    font: 700 18px "Comic Sans MS",Verdana, Arial, sans-serif;
    color: #336633;
    text-shadow: 2px 2px 4px yellow;
 }
 
 fieldset p {
    font: 600 14px/16px Arial, sans-serif;
    color: #336633;
    text-align: left;
 }

 
 
 #btnSubmit {
     float: left;
     height: 30px;
     width: 120px;
     border-radius: 5px;
     font-weight: 700;
     color: #009900;
     text-align: center;
 }
 
 #btnReset {
     float: right;
     text-align: center;
     height: 30px;
     width: 100px;
     border-radius: 5px;
     font-weight: 700;
     color: #990000;
 }
 